/* Basisopmaak */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: auto;
}

/* Header */
.logo_hoofding {
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 70px;
    margin: 0px 30px 20px 0px;
    background-color: #ffffff;
    padding: 20px;
    padding-right: 100%;
    z-index: 100;
}

.header {
    padding: 20px;
    background-image: url(img/Headerafbeelding.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #0D625E;
    font-size: 40px;
    font-weight: 700;
    z-index: 10;
    margin-top: 80px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    position: fixed;
    right: 50px;
    top: 10px;
    background-color: #ffffff;
    text-align: center;
    list-style-type: none;
    color: #0D625E;
    font-weight: 700;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    font-size: 14px;
    z-index: 100;
}

.menu_item {
    color: #0D625E;
    font-weight: 700;
    padding: 0px 20px 0px 20px;
    list-style-type: none;
    margin-top: 0px;
    text-decoration: none;
}

.menu_item:hover {
    color: #8C805C;
    text-decoration: none;
}

.active_menu_item {
    list-style-type: none;
    background-color: #ececec;
    color: #0D625E;
    font-weight: 700;
    padding: 20px;
    text-decoration: none;
}

.active_menu_item:hover {
    color: #8C805C;
    text-decoration: none;
}

/* Dropdown */
.menu_dropdown .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu_dropdown:hover .dropdown {
    display: block;
}

.menu_dropdown .dropdown a:link {
    color: #0D625E;
    text-decoration: none;
}

.menu_dropdown .dropdown a:visited {
    color: #0D625E;
    text-decoration: none;
}

.menu_dropdown .dropdown a:hover {
    color: #8C805C;
    text-decoration: none;
}

.menu_dropdown .dropdown ul li {
    list-style-type: none;
    text-align: left; 
}

.menu_dropdown .dropdown ul li {
    list-style-type: none;
    text-align: left; 
}

.break-dropdown {
    max-width: 25px;
padding-left: 30px;
}

/* Tekstopmaak */
h2 {
    font-size: 18px;
    font-weight: 700;
    color: #0D625E;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    color: #8C805C;
}

p {
    font-size: 14px;
    color: #062825;
}
hr
{
    border: none;
}

/* Flexbox-opmaak */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    max-width: 50%;
}

.flex-container > hr {
    border: #062825 solid 3px;
}

.flex-text {
    padding: 20px;
}

.flex-image {
    padding: 20px;
}

.flex-image > img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 5%;
}

.flex-container a:link {
    text-decoration: none;
    color: #0D625E;
    text-align: center;
}
.flex-container a:visited {
    text-decoration: none;
    color: #0D625E;
    text-align: center;
}
.flex-container a:hover {
    text-decoration: none;
    color: #8C805C;
    text-align: center;
}

.image_border {
    max-width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #ececec;
    background-size: cover;
    height: 50px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;   
    padding-bottom: 50px; 
}

.LogoFooter {
    width: 100px;
    padding-bottom: 20px;
}

.back-to-top >img
{
    max-width: 20px;
}

/* Formulier en contactinformatie */
label, textarea, legend {
    vertical-align: top;
    color: #0D625E;
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 700;
}

#cookiecheckbox {
    font-size: 12px;
    font-weight: 400;
}

form {
    border: #0D625E solid 2px;
    border-radius: 25px;
    padding: 30px 100px;
    margin: 20px;
    max-width: 50%;
    justify-content: center;
    align-content: center;
}

.contact {
    justify-content: center;
    text-align: center;
}

.contact_icon {
    max-width: 30px;
    padding: 30px 10px;
}

#logo_contact {
    max-width: 200px;
}

#google_maps {
    max-width: 300px;
    margin: 10px;
    border-radius: 25px;
    border: #0D625E solid 2px;
}

#homeportret {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    margin-left: 47%;
    margin-right: 47%;
}

/* Link-opmaak */
.flex-link {
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
}

.flex-link > a:link {
    background-color: #0D625E;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
}
.flex-link > a:visited {
    background-color: #0D625E;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
}

.flex-link > a:hover {
    align-items: center;
    justify-content: center;
    background-color: #8C805C;
    border-radius: 15px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}

.cv-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cv-link > a:link {
    align-items: center;
    justify-content: center;
    background-color: #0D625E;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
}

.cv-link > a:visited {
    align-items: center;
    justify-content: center;
    background-color: #0D625E;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
}

.cv-link > a:hover {
    align-items: center;
    justify-content: center;
    background-color: #8C805C;
    border-radius: 15px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}

/* Tabelopmaak */
table {
    border-radius: 25px;
    min-width: 500px;
    margin: 30px;
    flex-basis: calc(50% - 20px);
}

th {
    color: #8C805C;
    border: solid 1px #0D625E;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
}

td {
    color: #062825;
    background-color: #ececec;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
}

.flex-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

caption {
    font-size: 18px;
    font-weight: 700;
    color: #0D625E;
}

/* Lijstopmaak */
.plantenlijst {
    font-size: 14px;
    color: #062825;
    list-style-type:circle ;
}

/* Overige opmaak */
.break-image
{
    max-width: 30px;
    margin-left: 50%;
    margin-right: 50%;
}

.project-overzicht {
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
    text-decoration: none;
}

.break-dropdown{
max-width: 10px;
}